.floating_icons{
    position: fixed;
    right: 50px;
    bottom: 150px;
}

.whatsapp_section{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: linear-gradient(45deg, #5a4677, transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 3px 2px #2c1551, inset 0px 0px 8px 3px #2c1551;
    cursor: pointer;
}

.whatsapp_section svg{
    font-size: 40px;
}

.whatsapp_section.calls_section{
    margin-top: 10px;
}

.whatsapp_section.calls_section svg{
    font-size: 30px;
}

@media screen and (max-width:767px) {
    .floating_icons{
        right: 20px;
        bottom: 80px;
    }
    .whatsapp_section{
        height: 40px;
        width: 40px;
        background: linear-gradient(45deg, #341165, #1d0dbd);
        box-shadow: 0px 0px 3px 1px #b400ff91, inset 0px 0px 6px 4px #2c1551;
    }
    .whatsapp_section svg{
        font-size: 20px;
    }
    .whatsapp_section.calls_section svg{
        font-size: 15px;
    }

}
