/* . padding-left: 130px; */

.WorkExperience{
    padding-left: 170px;
    position: relative;
    padding: 100px 0px 100px 130px;
}
.WorkExperience > img{
    position: absolute;
    left: 50%;
    transform: translateX(-40%);
    z-index: -1;
    max-width: 440px;
}
.cardsFor_experience{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 40px;
}

@media screen and (max-width:767px) {
    .WorkExperience{
        padding: 20px 0px 30px 0px;
        overflow: hidden;
    }
    .cardsFor_experience{
        padding-top: 20px;
        justify-content: center;
    }
    .WorkExperience > img{
        width: 100%;
    }
}